<%= simple_form_for [@cocktail, @dose], wrapper: :vertical_form,
  wrapper_mappings: {
    range: :vertical_range,
  } do |d| %>

  <%= d.error_notification %>
  <%= d.input :description %>
  <%= d.association :ingredient, :collection => Ingredient.all.order(:name) %>

  <div class="form-group flex-align-justify-center">
    <%= d.button :submit, class: "btn-primary btn-center" %>
  </div>
<% end %>
